<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-dark" href="/">
      <h3>cariilmu</h3>
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">About</a>
      </li>
    </ul>
    <a href="/get-user">
      <button class="btn-secondary mx-1 p-2" style="border-radius: 10px; border: none;"> Masuk 
      </button>
    </a>
    <a href="/register">
      <button class="btn-primary mx-1 p-2" href="/" style="border-radius: 10px; border: none;">Daftar
      </button>
    </a>
  </nav>