<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<!-- <header>
    <%- include('../partials/header'); %>
</header> -->

<body>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 py-3">
                    <h1 class="text-center text-center">Register</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12">
                    <form>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="nama" class="form-control" placeholder="Nama"/>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="email" class="form-control" placeholder="Email Address"/>
                        </div>
                        
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="password" class="form-control" placeholder="Password"/>
                        </div>
                      
                
                <!-- Submit button -->
                <button type="button" class="btn btn-primary btn-block mb-4">Register</button>
                
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Already member? <a href="/login">sign in</a></p>
                    <p><a href="/">home</a></p>
                </div>
                </div>
            </form>
            </div>
            
        </div>
    </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>